{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center mt-4">
  <div class="col-md-5">

    <div class="card shadow-sm {% if request.cookies.get('theme')=='dark' %}dark{% endif %}">
      <div class="card-body">

        <h3 class="text-center mb-4">
          <i class="bi bi-box-arrow-in-right"></i> Login
        </h3>

        <form method="post">

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="email" type="email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input name="password" type="password" class="form-control" required>
          </div>

          <button class="btn btn-primary w-100">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </button>

          <div class="text-center mt-3">
            <a href="{{ url_for('register') }}">Create an account</a>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>

{% endblock %}
